body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 1.5em;
    color: #333;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #45a049; /* Change to the desired color on hover */
}

button:active {
    background-color: #45a049; /* Change to the desired color when clicked */
}

#result-container {
    margin-top: 20px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
    color: #333;
}
